<h2>Add Questions to "<%= @survey.name %>"</h2>

<% if @error %>
  <p class="error"><%= @error %></p>
<% end %>

<ol>
<% @survey.questions.each do |question| %>
  <li>
    <p><%= question.content %></p>
    <ul>
      <% question.options.each do |option| %>
        <li><%= option.content %></li>
      <% end %>
    </ul>

  <form method="POST" action="/questions/<%= question.id %>">
    <input type=hidden name="_method" value="DELETE">
    <input type="submit" value="Delete Question">
  </form>

  </li>
<% end %>
</ol>


<h4>Next Question</h4>
<form method="Post" action="/questions" >
  <input type="hidden" name="question[survey_id]" value="<%= @survey.id %>">

  <label for="question[content]" >Question:</label>
  <textarea id="question-content" name="question[content]" placeholder="Enter question text" ></textarea>

  <label for="option[content_string]">Options:</label>
  <input type="text" name="options[content_string]" placeholder="Enter options separated by commas" required>
<input type="submit" value="Save Question" >

