
<h1>Survey: <%= @survey_user.survey.name %></h1>

<!-- < binding.pry > -->

<h3>Question 1: <%= @survey_user.survey.questions.first.content %></h3>

<ul>
  <form method="post" action="/responses">
    <% @next_question.options.each do |option| %>
      <li>
        <label><%= option.content%></label>
        <input type="radio" name="option" value="<%= option.id%>">
      </li>
    <%end%>
    <input type="hidden" name="surveys_user" value="<%= @survey_user.id %>">
    <input type="submit" value="Submit answer">
  </form>
</ul>
