
<h1>Survey: <%= @survey.name %></h1>

<ul>
  <%if @errors%>
    <%@errors.each do |error| %>
    <li><%=error%></li>
    <%end%>
  <%end%>
</ul>

<% if @question %>
<div id="new-response">
  <%= erb :"/responses/_new_response" %>
</div>

<% else %>
  <p>Thanks for completing the survey, "<%= @survey.name %>.</p>
  <p>
    See <a href="/surveys/<%= @survey.id %>/results">Survey Results</a>
  </p>
  <p>
    Return to <a href="/surveys">Survey Index</a>
  </p>
<% end %>
