<h2>Surveys</h2>

<h3>Surveys you can take</h3>
<ul>
  <% @surveys_taken.each do |survey| %>
    <li>
      <p>
        <form method="POST" action="/surveys_users">
         <input type="hidden" name="survey_id" value="<%= survey.id %>">
         <input type="submit" value="<%= survey.name %>">
        </form>
      </p>
      <p class="attribution">
        Created by <a href="/users/<%= "#{survey.user.id}" %>"><%= survey.user.username %></a> on <%= long_form_date(survey.created_at) %>
      </p>
    </li>
  <% end %>
</ul>


<h3>Surveys you've already taken</h3>
<ul>
  <% @surveys_not_taken.each do |survey| %>
    <li>
      <p>
        <form method="GET" action="/surveys/<%= "#{survey.id}" %>/results">
          <input type="submit" value="<%= survey.name %>">
        </form>
      </p>
      <p class="attribution">
        Created by <a href="/users/<%= "#{survey.user.id}" %>"><%= survey.user.username %></a> on <%= long_form_date(survey.created_at) %>
      </p>
    </li>
  <% end %>
</ul>


<% if logged_in? %>
  <h3>Surveys you created</h3>
  <ul>
    <% @user_surveys.each do |survey| %>
      <li>
        <p>
          <a href="/surveys/<%= "#{survey.id}" %>" ><%= survey.name %></a>
        </p>
        <p class="attribution">
          Created by you on <%= long_form_date(survey.created_at) %>
        </p>
      </li>
    <% end %>
  </ul>

  <a href="/surveys/new">Create a new survey</a>
<% end %>
