<h2><%= @survey.name %></h2>

<p>
  <a href="/surveys/<%= @survey.id %>/results">View Survey Results</a>
</p>

<p><%= @survey.description %>.</p>
<p>This survey was created by <%= @user.username %></p>

<h3>Questions</h3>

<ol>
  <% @survey.questions.each do |question| %>
    <li>
      <p><%= question.content %></p>
      <% question.options.each do |option| %>
        <p><%= option.content %></p>
      <% end %>
    </li>
  <% end %>
</ol>

<% if @survey.user == current_user %>
  <p>
    <a href="/surveys/<%= @survey.id %>/edit">Edit survey information and add questions</a>
  </p>

  <form method="POST" action="/surveys/<%= @survey.id %>">
    <input type=hidden name="_method" value="DELETE">
    <input type="submit" value="Delete Survey">
  </form>
<% end %>

